<!DOCTYPE html>
<html>
    <head>
        <title>BookStore App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
        <link href="https://fonts.googleapis.com/css?family=Arsenal:400,700" rel="stylesheet"/>
    <head>
    <body>
        <nav>
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <div class="header item"><i class="book icon"></i>BookStore</div>
                    <a href="/" class="item">Home</a>
                    <a href="/books/new" class="item">New Book</a>
                </div>
                
            </div>
        </nav>